/* 
* Resouces referred
- https://dev.to/supanthapaul/create-a-simple-navbar-with-7-lines-of-css-4h7f
- https://stackoverflow.com/questions/26402156/put-div-below-navigation-bar-and-dont-overlap-content 
- 

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  height: 100%;
  overflow: hidden;
}

nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #1d2225; /* 4 */
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 1rem; /* 7! */
}
nav a {
  text-decoration: none;
  color: #24292b;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Roboto, Helvetica, sans-serif;
}
.main {
  background-color: #24272d;
  background: linear-gradient(#24292b, #15171a);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: auto;
  padding-bottom: 2000px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hover {
  color: #0000;
  background: linear-gradient(90deg, #8fb7d6 50%, #3e4545 0) var(--_p, 100%) /
    200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.35s;
  transition: ease-in-out 0.25s;
}
.hover:hover {
  --_p: 0%;
}
img {
  border-radius: 100%;
  position: relative;
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30%;
  margin-bottom: 3%;
}
h2 {
  font-size: 1.5rem;
  font-family: Ubuntu Mono, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.links {
  text-decoration: none;
  color: rgb(159, 226, 255);
  /* background-color: #141719; */
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight:500;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  text-align: center;
  line-height: 1.8rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.social ul {
  display: flex; /* 5 */
  list-style: none;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
.social li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.social a {
  text-decoration: none;
}
.fa {
  font-size: 1.8rem;
  color: #556161;
  transition: ease-in-out 0.2s;
}
.fa:hover {
  color: #bee4ff;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#changeText {
  color: #6b7c82;
  /* background-color: #151a1a; */
  padding: 0.8rem;
  border-radius: 0.4rem;
  text-align: center;
  line-height: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  justify-content: center;
}
.pop {
  -webkit-animation-name: pop;
  -webkit-animation-duration: 2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes pop {
  30% {
    transform: scale(1.1);
  }
}
.logo {
  color: rgb(176, 188, 199);
  font-weight: 600;
  transition: ease-in-out 0.2s;
}
.logo:hover{
  color: rgb(122, 131, 139);
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #13161a;
  text-align: center;
}
.grayed {
  color: #3e4545;
  padding: 0.2rem;
  font-size: 0.9rem;
}
.lighter {
  color: #5a6464;
}
.sink:hover{
  transform: translateY(0.1rem);
  transition: ease-in-out 0.2s;
}

/* Responsiveness*/
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    display: none;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}
