// Created using SASS Pre-processor

/* --- Style guide --- */

// Background Colors
$primaryBG: #26272a;
$lighterBG: #323539;
$lightestBG: #484d54;
$darkerBG: #212224;
$darkererBG: #1e2021;
$skillBG: #0bd265;
$contactBG: #e5c32a;

// Text Colors
$primaryText: #f7fff7; // Mint cream
$grayText: #ced1d3; // Light gray
$brandText: #05b2dc; // Cerulean Crayola
$darkGrayText: #a2a4a7; // Dark grey
$lightestText: #84888d;

// POP Colors
$projectPOP: #fe9000; // Dark orange
$aboutPOP: #5adbff; // Sky blue crayola
$contactPOP: #ffdd4a; // Mustard
$skillPOP: #0cf574; // Spring green

// FONT
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --- Style Guide --- */
html {
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  background-color: $darkerBG;
  color: white;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  //overflow-y: scroll;
  //overflow: hidden;
}
.hero-section {
  a {
    //text-align: left;
    //float: left;
    padding: 0.2rem;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $primaryBG;
  svg {
    margin-left: 91vw;
    width: 1.25rem;
    fill: #ffffff;
  }
  .banner {
    position: absolute;
    background-color: $darkerBG;
    color: $primaryText;
    width: 100%;
    font-weight: 800;
    font-size: 1.75rem;
    text-align: center;
    //padding: 0.1rem;
    a {
      text-decoration: none;
      color: $primaryText;
      transition: ease-in-out 0.13s;
    }
    a:hover {
      color: $grayText;
    }
  }
}
.about-section {
  background-color: $darkerBG;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  .banner {
    position: absolute;
    background-color: $aboutPOP;
    color: $darkerBG;
    width: 100%;
    font-weight: 800;
    font-size: 4.5rem;
    margin-top: 1rem;
    // padding: 0.5rem;
  }
}
.skill-section {
  display: flex;
  flex-direction: column;
  background-color: $darkerBG;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  .banner {
    //display: flex;
    //float: left;
    //position: absolute;
    background-color: $skillPOP;
    color: $darkerBG;
    width: 100%;
    font-weight: 800;
    font-size: 4.5rem;
    margin-top: 1rem;
    // padding: 0.5rem;
  }
}
.project-section {
  display: flex;
  flex-direction: column;
  background-color: $darkerBG;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 300%;
  .banner {
    //position: absolute;
    background-color: $projectPOP;
    color: $darkerBG;
    width: 100%;
    font-weight: 800;
    font-size: 4.5rem;
    margin-top: 1rem;
    //padding: 0.5rem;
  }
}
.contact-section {
  background-color: $darkerBG;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 400%;
  .banner {
    //position: absolute;
    background-color: $contactPOP;
    color: $darkerBG;
    width: 100%;
    font-weight: 800;
    font-size: 4.5rem;
    margin-top: 1rem;
    //padding: 0.5rem;
  }
}

.sticky {
  background-color: #ffffff00;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 100%;
  // padding-right: 6rem;
  z-index: 5;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  .list-inline {
    list-style: none;
    margin-left: -6.5em;
    margin-right: -0.5em;
    padding: 0;
  }
  .list-inline > li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2rem;
  }
  .list-inline > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
  }
}
.main {
  display: flex;
}
.scroll-break {
  scroll-margin-top: 1em;
}
.circle {
  border-radius: 50%;
  background-color: $lighterBG;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0.4rem;
  text-align: center;
  transition: ease-in-out 0.13s;
  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: $grayText;
    line-height: 1rem;
    padding: 0.6rem;
    text-align: center;
    transition: ease-in-out 0.13s;
  }
  a:hover {
    color: $primaryText;
  }
}
.hero:hover {
  background-color: $lightestBG;
}
.about:hover {
  background-color: $brandText;
}
.skill:hover {
  background-color: $skillBG;
}
.project:hover {
  background-color: $projectPOP;
}
.contact:hover {
  background-color: $contactBG;
}
.hero-section {
  img {
    border-radius: 100%;
    position: relative;
    width: 15rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30%;
    margin-bottom: 3%;
  }
  hover {
    color: #0000;
    background: linear-gradient(90deg, #8fb7d6 50%, #3e4545 0) var(--_p, 100%) /
      200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.35s;
    transition: ease-in-out 0.25s;
  }
  .hover:hover {
    --_p: 0%;
  }
  .links {
    text-decoration: none;
    color: $aboutPOP;
    /* background-color: #141719; */
    padding: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;

    background: rgb(9, 65, 121);
    background: linear-gradient(
      90deg,
      rgba(9, 65, 121, 1) 0%,
      rgba(0, 212, 255, 1) 50%,
      rgba(9, 65, 121, 1) 100%
    );
    background-size: 200% 200%;
    animation: moveGradient 10s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border-radius: 0.3rem;
    text-align: center;
    //line-height: 0rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .social ul {
    display: flex; /* 5 */
    list-style: none;
    padding: 0.2rem;
    margin-top: 0.5rem;
  }
  .social li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .social a {
    text-decoration: none;
  }
  .fa {
    font-size: 1.8rem;
    color: #556161;
    transition: ease-in-out 0.2s;
  }
  .fa:hover {
    color: #bee4ff;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #changeText {
    color: #6b7c82;
    /* background-color: #151a1a; */
    padding: 0.8rem;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 0.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .sink:hover {
    transform: translateY(0.1rem);
    transition: ease-in-out 0.2s;
  }
  .pop {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 2;
    animation-duration: 2;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  @keyframes pop {
    30% {
      transform: scale(1.1);
    }
  }
  .logo {
    color: rgb(176, 188, 199);
    font-weight: 600;
    transition: ease-in-out 0.2s;
  }
  .logo:hover {
    color: rgb(122, 131, 139);
  }
  .container {
    background-color: #24272d;
    background-image: linear-gradient($primaryBG 25%, 75%, $darkerBG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    overflow: auto;
    padding-bottom: 2000px;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about-section {
  justify-content: center;
  //@at-root: ;
  .container {
    display: flex;
    overflow: auto;
    margin-top: 8rem;
    //float: right;
    //background-color: #fe9000;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .image {
    //background-color: #690cf5;
    width: 100%;
    // width: 180vh;
    float: left;
    height: 70vh;
    //margin-top: 9rem;
    float: left;
    margin-left: 1.5rem;
    justify-content: center;
    display: flex;
    img {
      max-width: 70%;
      height: auto;
      display: block;
      margin: auto;
      border-radius: 1rem;
      //min-width: 40%;
      //margin-top: auto;
      //padding-top: 3rem;
    }
  }
  .text-component {
    //background-color: #0bd265;
    color: $grayText;
    width: 100%;
    max-width: 840px;
    height: 100%;
    max-height: 400px;
    font-weight: 300;
    float: left;
    //position: absolute;
    z-index: 4;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-right: 16vh;
    margin-left: 4rem;

    p {
      font-size: 1.4rem;
    }
  }
}
.skill-section {
  //display: flex;
  display: flex;
  flex-direction: column;
  .icon-skill {
    width: 100%;
    height: 30%;
    background-color: $darkererBG;
    border-radius: 0 0 1.2rem 1.2rem;
    //font-size: 16rem;
    //margin: auto;
    .contain {
      display: flex;
      //align-items: center;
      justify-content: left;
      //justify-content: space-between;

      margin-right: 5rem;
      svg {
        margin-left: 3%;
        width: 7.5%;
        //display: block;
        //display: flex;
        //flex-direction: left;
        //margin: auto;
        // margin: 0 auto;
        display: block;
        margin-top: 2%;
        fill: $lightestText;
        background-color: $lighterBG;
        padding: 1rem;
        border-radius: 0.75rem;
        transition: 0.25s;
        min-width: 80px;
        min-height: 100px;
      }
      svg:hover {
        fill: #969ca2;
        background-color: $primaryBG;
        transform: scale(0.97);
      }
      #python:hover {
        fill: #f9f646;
      }
      #java:hover {
        fill: #f1faff;
      }
      #html:hover {
        fill: #f19626;
      }
      #css:hover {
        fill: #2a6adf;
      }
    }
  }
  .icon-tool {
    width: 100%;
    height: 15%;
    //margin-top: 8.5%;
    background-color: $primaryBG;
    border-radius: 0 0 1.2rem 1.2rem;
    border-top: none;
    display: flex;
    .contain {
      display: flex;
      //align-items: center;
      justify-content: left;
      //justify-content: space-between;

      margin-right: 5rem;
      svg {
        margin-left: 3%;
        width: 8%;
        min-width: 52px;
        min-height: 55px;
        //display: block;
        //display: flex;
        //flex-direction: left;
        //margin: auto;
        // margin: 0 auto;
        display: block;
        //margin-top: 0.5%;
        fill: $lightestBG;
        //background-color: $lighterBG;
        padding: 0.4rem;
        border-radius: 0.75rem;
        transition: 0.35s;
      }
      svg:hover {
        fill: #5c6165;
        transform: scale(1.05);
        //background-color: $primaryBG;
      }
    }
  }
  .icon-exp {
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: left;
    //flex-direction: column;
    margin-right: 5rem;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-top: 5%;
    .box {
      //display: flex;
      width: 30%;
      min-width: 340px;
      min-height: 170px;
      height: 20vh;
      margin-left: 3%;
      background-color: #26282b;
      border-radius: 1.2rem;
      .heading {
        margin-top: 3%;
        text-align: center;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: $grayText;
      }
      .desc {
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        font-size: 1.1rem;
        margin-top: 3%;
        font-weight: 300;
        color: $darkGrayText;
      }
    }
  }
}
.project-section {
  display: flex;
  .contain {
    width: 100%;
    height: 100%;
    //background-color: #0bd265;
    display: flex;
    //padding: 0.3rem;
    .title-image {
      width: 60%;
      height: 100%;
      //background-color: #d2b80b;
      display: flex;
      //margin: auto;
      .left-arrow {
        width: 10%;
        height: 100%;
        //background-color: #570bd2;
        text-align: justify;

        //display: flex;
        //justify-content: center;
        a {
          //margin-top: 40rem;
          z-index: 5;
          margin-left: 1%;
          margin-right: 1%;
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          text-decoration: none;
          color: $grayText;
          background-color: $lighterBG;
          border-radius: 100%;
          text-align: center;
          font-size: 1.8rem;
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          padding-bottom: 0.4rem;
          padding-top: 0.1rem;
        }
        a:hover {
          background-color: $lightestBG;
          scale: (0.96);
        }
      }
      .right-arrow {
        width: 10%;
        height: 100%;
        //background-color: #570bd2;
        text-align: justify;

        //display: flex;
        //justify-content: center;
        a {
          //margin-top: 40rem;
          z-index: 5;
          margin-left: 1.75%;
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          text-decoration: none;
          color: $grayText;
          background-color: $lighterBG;
          border-radius: 100%;
          text-align: center;
          font-size: 1.8rem;
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          padding-bottom: 0.4rem;
          padding-top: 0.1rem;
          transition: ease-in-out 0.2s;
        }
        a:hover {
          background-color: $lightestBG;
          scale: (0.96);
        }
      }
      .main-content {
        width: 80%;
        height: 100%;
        //background-color: #bb0fea;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        //left: 50%;
        margin: auto;

        .title {
          #projectTitle {
            text-align: center;
            font-size: 2.5rem;
            margin-top: 1.5%;
            font-weight: 600;
            height: 10%;
            margin-bottom: 0.3rem;
            //transform: translateX(0%);
            color: $primaryText;
            width: 100%;
          }
          text-align: center;
          font-size: 2.5rem;
          //margin-top: 5%;
          font-weight: 600;
          height: 10%;
          margin-bottom: 0.4rem;
          //transform: translateX(-10%);
          color: $primaryText;
          width: 100%;
          //background-color: darkgreen;

          .fa-link {
            margin-right: 1.5%;
            text-decoration: none;
            color: $primaryText;
          }
        }
        img {
          //transform: translateX(-1.35%);
          object-fit: cover;
          border-radius: 1.2rem;
          // width: 80%;
          // height: 80%;
          // animation: pop 0.3s ease-in-out 1;
        }
        #pop-img {
          animation: pop 0.3s ease-in-out 1;
        }
        .tags {
          //display: flexbox;
          display: flex;
          justify-content: center;
          //flex-direction: column;
          justify-content: center;
          top: 0;
          //line-height: 0%;
          //transform: translateX(-2%);
          //align-items: center;
          //margin-bottom: 1rem;

          //background-color: #dc7405;
          p {
            text-align: center;
            background-color: $lighterBG;
            border-radius: 1.2rem;
            //transform: translateY(-175%);
            margin-left: 0.4rem;
            padding: 1.75%;
            padding-right: 2.4%;
            padding-left: 2.4%;
            float: left;
            font-size: 1.2rem;
            color: $primaryText;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            //margin-bottom: 1%;
          }
        }
      }
    }
    .desc {
      justify-content: center;
      display: flex;
      width: 40%;
      left: 60vw;
      float: left;
      height: 100%;
      //margin: auto;
      margin-right: 5rem;
      //background-color: #d20b0b;
      align-items: center;
      //justify-content:center;
      padding-left: 1.5%;
      padding-right: 1%;
      font-size: 1.35rem;
      color: $grayText;
      p {
        transform: translateY(-80%);
      }
    }
  }
}
.contact-section {
  //display: flex;
  //flex-direction: row;
  .container {
    display: flex;
    .form-input {
      flex-direction: column;
      form {
        margin-top: 7.5vh;
        margin-left: 1.5%;
      }
      width: 70%;
      //background-color: #0bd265;
      height: 100vh;
      .lastName {
        //margin-left: 30.5%;
        width: 84%;
        margin-bottom: 0.3rem;
      }
      label {
        //width: 40%;
        font-size: 1.3rem;
        margin-left: 1rem;
        color: $grayText;
      }
      input {
        width: 40%;
        font-size: 1.2rem;
        margin-left: 1rem;
        border-radius: 0.3rem;
        border: none;
        padding: 0.45rem;
        margin-top: 0.35rem;
        background-color: $lighterBG;
        // border-top-style: hidden;
        // border-right-style: hidden;
        // border-left-style: hidden;
        // border-bottom-style: groove;
        transition: ease-in-out 0.17s;
        color: $primaryText;
      }
      input:focus {
        outline: none;
        background-color: $lightestBG;
      }
      .fname {
        width: 84%;
        margin-bottom: 0.3rem;
      }
      .lname {
        width: 84%;
        margin-bottom: 0.3rem;
      }
      .firstname {
        width: 100%;
      }
      .email {
        width: 84%;
        margin-bottom: 1.55rem;
      }
      .message {
        width: 84%;
        height: 10%;
        margin-bottom: 1.55rem;
      }
      #submit {
        text-align: center;
        width: 85%;
        padding: 0.75rem;
        color: $grayText;
        background-color: #121212;
        font-size: 1.3rem;
        font-weight: 500;
        transition: ease-in-out 0.17s;
      }
      #submit:hover {
        transform: scale(0.98);
        color: $primaryText;
        background-color: #26a826;
      }
      #submitted {
        // background-color: #121212;
        background-color: rgb(255, 221, 0);
        color: $darkererBG;
        font-weight: 700;
        font-size: 1.3rem;
        transition: ease-in-out 0.17s;
        width: 85%;
        padding: 0.75rem;
      }
      display: flex;
      h3 {
        text-align: center;
        transform: translateX(-5%);
        padding: 0%;
        margin-bottom: 0rem;
        margin-top: 3rem;
      }
      p {
        text-align: center;
        transform: translateX(-5%);
        font-size: 1.25rem;
        a {
          text-decoration: none;
          color: $brandText;
        }
      }
    }
    .form-logo {
      align-items: center;
      width: 30%;
      font-size: 20rem;
      margin: auto;
      //background-color: #05b2dc;
      //display: flex;
      transform: translateY(7.5%);
      color: #51503e;
      height: 100vh;
      justify-content: center;
      //z-index: 24;
      i {
        width: 100%;
        height: 100;
        transform: translateX(-7.5%);
      }
    }
  }
}

.footer {
  top: 501%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: $lighterBG;
  padding-top: 1.2rem;
  text-align: center;
  color: $grayText;
  display: flex;
  flex-direction: column;
  .top--footer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .links-f {
      width: 30%;
      height: 100%;
      //background-color: #0081cc;
    }
    .contact-f {
      width: 30%;
      height: 100%;
      //background-color: #c500cc;
    }
    .connect-f {
      width: 30%;
      height: 100%;
      // background-color: #ccbb00;
    }
  }
  .bottom--footer {
    width: 100%;
    height: 30%;
    //display: flex;
    color: #717171;
    background-color: $primaryBG;
    //justify-content: center;
    margin-top: 3%;
    a {
      font-size: 0.8rem;
    }
  }
}
.footer--title {
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}
.footer--links {
  padding: 1rem;
  margin: 0;
  margin-top: 2rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: $darkGrayText;
  font-weight: 400;
}
// custom animations
@keyframes pop {
  50% {
    transform: scale(1.05);
  }
}
@keyframes moveGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 0 50%;
  }
}
@media only screen and (max-width: 768px) {
  .about-section {
    .banner {
      font-size: 3.75rem;
    }
    .image {
      width: 0;
      img {
        max-width: 0%;
      }
    }
    .text-component {
      margin-right: 4rem;
      margin-left: 1rem;
      p {
        font-size: 1.25rem;
      }
    }
  }
  .skill-section {
    .banner {
      font-size: 3.75rem;
    }
    .icon-skill {
      width: 40%;
      height: 25%;
      .contain {
        display: flex;
        justify-content: left;
        margin-right: 5rem;
        svg {
          margin-left: 4%;
          width: 1.5rem;
          //display: block;
          //display: flex;
          //flex-direction: left;
          //margin: auto;
          // margin: 0 auto;
          display: block;
          margin-top: 30%;
          fill: $lightestText;
          background-color: $lighterBG;
          padding: 0.5rem;
          border-radius: 0.75rem;
          transition: 0.25s;
        }
      }
    }
    .icon-tool {
      width: 100%;
      height: 10%;
      .contain {
        display: flex;
        //align-items: center;
        justify-content: left;
        //justify-content: space-between;
      }
    }
    .icon-exp {
      display: flex;
      flex-direction: column;
      //align-items: center;
      justify-content: center;
      //flex-direction: column;
      //margin-right: 5rem;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      margin-top: 2.5%;
      margin-left: 5%;
      .box {
        height: 10vh;
        margin-top: 3%;
      }
    }
  }
  .project-section {
    .banner {
      font-size: 3.75rem;
    }
    .contain {
      flex-direction: column;
      justify-content: center;
      //margin: auto;
      .title-image {
        width: 100%;
        height: 80%;

        .right-arrow {
          width: 0;
          a {
            font-size: 0;
            padding: 0;
          }
        }
        .left-arrow {
          width: 0;
          a {
            font-size: 0;
            padding: 0;
          }
        }
        .main-content {
          width: 100%;
          margin: 0;
          height: 100%;
          //margin-right: 3rem;
          .title {
            #projectTitle {
              font-size: 3rem;
              margin-bottom: 13rem;
            }
            font-size: 4rem;
          }
          img {
            //width: 150%;
            // margin-right: 3rem;
          }
        }
      }
      .desc {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        p {
          margin-right: 2rem;
        }
      }
    }
  }
  .contact-section {
    .banner {
      font-size: 3.75rem;
    }
    .container {
      .form-input {
        width: 100%;
        p {
          margin-left: 1.5rem;
        }
        .fname {
          width: 75%;
        }
        .lname {
          width: 75%;
        }
        .email {
          width: 75%;
        }
        .message {
          width: 75%;
        }
        #submit{
          width: 78%;
        }
      }
      .form-logo {
        display: none;
      }
    }
  }
}

// html {
//   scroll-snap-type: y mandatory;
// }
// .scroll-break {
//   height: 100vh;
//   width: 100vw;
//   scroll-snap-align: start;
// }
